.info__container {
  border-radius: 5px;
  font-weight: 300;
  color : blue;
  padding: 20px;
  font-size: 20px;
}

.info__container :nth-child(2n + 3) {
  margin-top: 15px;
}

.info__container :not(:nth-child(2n + 1)) {
  margin-top: 5px;
}
